<div class="main-section container">
  <h1 class="main-title">About me</h1>
  <p>
    Born and raised in Mumbai, India where I graduated in Computers from Mumbai University. After graduating in 2013 I joined
    Reach1to1 - a service based company as trainee and I’ve arrived as an all around UI developer working in Accionlabs (former
    Reach1to1), a Pittsburgh headquartered global technology services firm specializing in working with technology firms and IT organizations in the emerging technologies.
  </p>
  <p>
    Everything started with passion to web technologies. In 2014, I started working as a junior front-end developer in team and
    had already worked on several interesting project till now.
  </p>
  <p>
    I am currently working as a Senior Web Developer and leading a team of 4 young and enthusiastic graduates where we are collaboratively
    working on building large Single Page Application for an American client using latest front-end technologies.
  </p>
  <p>
    Recently, I've moved to London and currently working remotely from here.
  </p>
</div>