<div class="main-section container">
  <h1 class="main-title text-uppercase">contact me </h1>
  <p>I am available for hire.</p>
  <div class="container text-left">
    <div class="row">
      <div class="col-md-2">Email:</div>
      <div class="col-md-4">
        <a href="mailto:someone@example.com">simih61@gmail.com</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">LinkedIn:</div>
      <div class="col-md-4">
        <a href="https://www.linkedin.com/in/seema-hemani-170b4958/">seemahemani</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">Github:</div>
      <div class="col-md-4">
        <a href="https://github.com/seemahemani">seemahemani</a>
      </div>
    </div>
  </div>
</div>