<div class="main-section container">
  <h1 class="main-title">Contact me </h1>
  <div class="row">
    <div class="col-md-12">
      <ngui-map center="[51.58026239,-0.32064179]" [fullscreenControl]="true">
        <marker position="[51.58026239,-0.32064179]" [geoFallbackPosition]="[51.58026239,-0.32064179]" draggable="true" (click)="clicked($event)"
          (initialized$)="onMarkerInit($event)"></marker>
        <info-window id="iw">
          <div>
            <h6>
              <strong>Seema Hemani </strong>
            </h6>
              <span style="margin-right: 12px;">
                <i class="fa fa-envelope"></i>
              </span>
              <a href="mailto:simih61@gmail.com">simih61@gmail.com</a>
            
            <p>
              <span style="margin-right: 12px;">
                <i class="fa fa-linkedin"></i>
              </span>
              <a target="_blank" href="https://www.linkedin.com/in/seema-hemani-170b4958/">Seema Hemani</a>
            </p>
          </div>
        </info-window>
      </ngui-map>
    </div>
  </div>
  <!-- <div class="row">
      <div class="col-md-2">Email:</div>
      <div class="col-md-4">
        <a href="mailto:someone@example.com">simih61@gmail.com</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">LinkedIn:</div>
      <div class="col-md-4">
        <a href="https://www.linkedin.com/in/seema-hemani-170b4958/">seemahemani</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">Github:</div>
      <div class="col-md-4">
        <a href="https://github.com/seemahemani">seemahemani</a>
      </div>LinkedIn
    </div> -->
</div>
