<div class="container main-section">
  <h1 class="main-title text-uppercase">My skills</h1>

  <p>I am a
    <strong>front-end web developer</strong> with above
    <strong>four years of experience</strong>.
  </p>

  <p>I am developing responsive and rich User Interface consistent for all major browsers and devices (iOS, Android)</p>

  <p>I have maintained, developed and launched
    <a href="/portfolio/">multiple projects</a> from scratch, carrying the development of its' front-end codebases.</p>

  <p>My current toolset includes
    <span class="red">HTML, CSS, Bootstrap, Javascript, JQuery, JQuery UI, Angular2, TypeScript, Ionic Framework</span> and all the other various
    frameworks, libraries and technologies related to them.</p>

  <hr>

  <h2 class="red">
    <i class="fa fa-edit"></i>
    Front-end Web development
  </h2>



  <p>
    My current experience and skills in front-end include:
  </p>
  <ul>
    <li>
      lead TypeScript/JavaScript development: bootstraping or refactoring an existing app architecture, by improving its' extensibility
      and reliability;
    </li>

    <li>
      full integration of front-end development using tools like
      <a href="https://cli.angular.io/" rel="nofollow">Angular CLI</a> with features like create a project, add files, and perform a variety of ongoing development tasks
      such as testing, bundling, and deployment.
    </li>
    <li>
      knowledge and huge experience in many JS ecosystem, by using many libraries like Angular, Ionic Framework, jQuery, Lodash/Underscore
      and whatever else was needed.
    </li>
    <li>
      ... and even
      <strong>mobile app development</strong> with the use of
      <a href="http://ionicframework.com/" rel="nofollow">Ionic Framework</a>.
      <br> With these, I can build a fully working native application for iOS and Android (both at once!) in Javascript .
    </li>
  </ul>




</div>