<div class="container main-section">
  <h1 class="main-title">Skills & Experience</h1>

  <p>I am a
    <strong>Front-End web developer</strong> with above
    <strong>Four years of experience</strong>.
  </p>
  <p>Main area of my expertise is front end development and everything related with this side of web.
    <span class="highlight">HTML,CSS, Bootstrap, Javascript, JQuery, JQuery UI, Angular2, Ionic Framework, Git </span>and all the other various frameworks,
    libraries and technologies related to them.
  </p>
  <p>
    As a web developer focused on customer satisfaction, I manage all aspects of web development from concept to requirements
    definition, development, launch, maintenance and user support. working closely with team members to produce high-quality
    deliverables. 
  </p>
<p>
  I have worked on
    <a routerLink="/portfolio" routerLinkActive="active">
      <span class="highlight">multiple projects</span>
    </a> from scratch, carrying the development of its' front-end codebases in an agile development environment.
</p>
  

  <p>
    My current experience and skills in front-end include:
  </p>

  <ul>
    <li>
      lead TypeScript/JavaScript development: bootstraping or refactoring an existing app architecture, by improving its' extensibility
      and reliability.
    </li>
    <li>
      Translation of wireframes and rapid prototyping tools to accurate, working code
    </li>
    <li>
      knowledge in many JS ecosystem, by using many libraries like Angular, Ionic Framework, jQuery, Lodash/Underscore and whatever
      else was needed.
    </li>
    <li>
      <strong>Mobile app development</strong> with the use of
      <a href="http://ionicframework.com/" rel="nofollow">Ionic Framework</a>.
      <br> With these, I can build a fully working native application for iOS and Android (both at once!) in Javascript .
    </li>
  </ul>
</div>