<div class="main-section portfolio-section container">
  <h1 class="main-title ">Portfolio</h1>

  <p>See my works below. Below projects were done in project team where all their front-end parts were take care by me.</p>
  <div class="timeline">
    <div class="entry">
      <div class="title">
        <h3>2015 - Present</h3>
        <p>Senior UI Developer,</p>
        <p>Accionlabs India Pvt Ltd</p>
      </div>
      <div class="body">
        <h5>Customer One View – American water (US)­­</h5>
        <label>
          Description:
        </label>
        <ul>
          <li>We have developed a portal called Customer One View (C1V) for a leading water utility company in United States
            that can provide contextualized information about their customers to all American Water employees, especially
            customer service representatives (CSR) and field service representatives (FSR).</li>
        </ul>
        <label>
          Technologies:
        </label>
        <ul>
          <li>
            HTML, CSS via SASS, Bootstrap, Angular2/4, Angular Cli, AJAX, JSON, Jquery, GIT, Agile, Ionic 3 for mobile app.
          </li>
        </ul>
        <label>
          Responsibilities:
        </label>
        <ul>
          <li>
            Interaction with client, Requirement gathering, Analyzing, Interaction with team.
          </li>
          <li>Developing application in web and mobile .</li>
          <li>Angular version updating by using the angular cli and the node js terminal.</li>
          <li>Fixing Bugs, testing and analyzing programming projects,Deployment of build.</li>
          <li>Extensively used version control tool GIT.
          </li>
        </ul>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>2014 - 2015</h3>
        <p>Senior UI Developer,</p>
        <p>Accionlabs India Pvt Ltd</p>
      </div>
      <div class="body">
        <h5>ClearTrack­­</h5>
        <label>
          Description:
        </label>
        <ul>
          <li>ClearTrack operates a large, specialized global cloud-based business network and execution platform for supply
            chain management. We developed a web application for ClearTrack for maintaining the inspection results for the
            good purchased by ClearTrack clients. This application allows user to capture detailed level result information
            for the inspection.</li>
        </ul>
        <label>
          Technologies:
        </label>
        <ul>
          <li>
            HTML, Bootstrap, CSS, AngularJS, Gulp
          </li>
        </ul>
        <label>
          Responsibilities:
        </label>
        <ul>
          <li>
            Interaction with client, Requirement gathering, Analyzing, Interaction with team.
          </li>
          <li>Extensively used version control tool GIT.
          </li>
        </ul>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>2014</h3>
        <p>UI Developer,</p>
        <p>Accionlabs India Pvt Ltd</p>
      </div>
      <div class="body">
        <h5>Mission Control</h5>
        <label>
          Description:
        </label>
        <ul>
          <li>Provide web interface for creating and managing venue maps, creating point of interests , Experience Builder view
            with achievements, ranks and other similar products based on the Visual Designs and stored required info in local
            storage, integrated rest API to load data in UI , content resize with window resize to meet exact front end requirement
            using aspect ratio.</li>
        </ul>
        <label>
          Technologies:
        </label>
        <ul>
          <li>
            HTML, CSS, JavaScript/ jQuery/ jQueryUI, Bootstrap, AJAX, REST, JSON
          </li>
        </ul>
        <label>
          Responsibilities:
        </label>
        <ul>
          <li>
            Convert designs into working web page templates in HTML5, CSS, jQuery and JavaScript
          </li>
          <li>
            client communication in order to keep clients informed of your progress as well as handling client feedback.
          </li>
          <li>Extensively used version control tool GIT.
          </li>
        </ul>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>2014</h3>
        <p>UI Developer,</p>
        <p>Accionlabs India Pvt Ltd</p>
      </div>
      <div class="body">
        <h5>The Experience Engine Website</h5>
        <label>
          Description:
        </label>
        <ul>
          <li>Designed and developed website for the Experience Engine, a market leading experience Management system, integrates
            physical and digital experiences across mobile, web and Wearable technology.</li>
        </ul>
        <label>
          Technologies:
        </label>
        <ul>
          <li>
            HTML, CSS, Bootstrap, JavaScript, jQuery, AJAX, REST, JSON, Angularjs.
          </li>
        </ul>
        <label>
          Responsibilities:
        </label>
        <ul>
          <li>
            Convert designs into working web page templates and develop website for cross browser.
          </li>
          <li>Extensively used version control tool GIT.
          </li>
        </ul>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>2013</h3>
        <p>Junior UI Developer,</p>
        <p>Accionlabs India Pvt Ltd</p>
      </div>
      <div class="body">
        <h5>KalaKona</h5>
        <label>
          Description:
        </label>
        <ul>
          <li>A customer reward application where a customer signs up with kala program and earns point by purchasing products
            from the partners associated with kala. The customer gets reward on redeeming the points he has earned.</li>
        </ul>
        <label>
          Technologies:
        </label>
        <ul>
          <li>
            HTML, CSS, JavaScript, JQuery, Bootstrap, AJAX, REST, JSON.
          </li>
        </ul>
        <label>
          Responsibilities:
        </label>
        <ul>
          <li>
            Working in team, taking ownership of UI development.
          </li>
          <li>Build mobile first, responsive UI's for web based application with HTML, CSS, Javascript</li>
          <li>Extensively used version control tool GIT.
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>