<div class="main-section portfolio-section container">
  <h1 class="main-title ">Portfolio</h1>

  <p>See my works below. Below projects were done in project team where all their front-end parts were take care by me.</p>
  <div class="timeline">
    <div class="entry">
      <div class="title">
        <h3>2015 - Present</h3>
        <p>Senior UI Developer,</p>
        <p>Accionlabs India Pvt Ltd</p>
      </div>
      <div class="body">
        <h5>American water - Customer one view</h5>
        <label>
          Description:
        </label>
        <ul>
          <li>Customer one view Application was developed to help the American water to search their customer and get the information
            regarding bills ,payment,contact history ,meter reading,Time line information ete its also help to track the
            customer premise location also .Help the FSR’s to get the end to end information of there customer deatils business
            partner level , premise level ,connection contract number level ,meter number level ete…</li>
        </ul>
        <label>
          Technologies:
        </label>
        <ul>
          <li>
            Angular2, Angular Cli, CSS/SCSS, Bootstrap, TypeScript, Jquery, Node js & Ionic Framework
          </li>
        </ul>
        <label>
          Responsibilities:
        </label>
        <ul>
          <li>
            Interaction with client, Requirement gathering ,Analyzing,Interaction with team.
          </li>
          <li>Developing application in web and mobile .</li>
          <li>Angular version updating by using the angular cli and the node js terminal.</li>
          <li>Fixing Bugs, testing and analyzing programming projects,Deployment of build.</li>
          <li>Extensively used version control tool GIT.
          </li>
        </ul>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>2010 - Present</h3>
        <p>Title, Company</p>
      </div>
      <div class="body">
        <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.</p>
        <ul>
          <li>Rerum sit libero possimus amet excepturi</li>
          <li>Exercitationem enim dolores sunt praesentium dolorum praesentium</li>
          <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
        </ul>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>2009 - 2010</h3>
        <p>Title, Company</p>
      </div>
      <div class="body">
        <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.</p>
        <ul>
          <li>Rerum sit libero possimus amet excepturi</li>
          <li>Exercitationem enim dolores sunt praesentium dolorum praesentium</li>
          <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
        </ul>
      </div>
    </div>
    <div class="entry">
      <div class="title">
        <h3>2006 - 2008</h3>
        <p>Title, Company</p>
      </div>
      <div class="body">
        <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.</p>
        <ul>
          <li>Rerum sit libero possimus amet excepturi</li>
          <li>Exercitationem enim dolores sunt praesentium dolorum praesentium</li>
          <li>Modi aut dolores dignissimos sequi sit ut aliquid molestias deserunt illo</li>
        </ul>
      </div>
    </div>

  </div>

</div>