app-hello {
    .container {
        width: 80%;
        margin: 6%;
    }
    .btnLook {
        color: #f92f38;
        opacity: 0.8;
        border: 1px solid #f92f38;
        width: fit-content;
        padding: 12px;
        font-weight: 500;
        font-size: 17px;
        margin-top: 55px;
    }
}