<div class="container text-left">
    <h1>Hi, I'm Seema.</h1>
    <p>A highly resourceful, innovative, and competent front end developer having 7+ years of relevant experience in Software Design, Development and Deployment with Proficiency in Angular, Javascript, typescript, SCSS, etc.
        </p>
        
        <p>
        
        As a web developer focused on customer satisfaction, I manage all aspects of web development from concept to requirements definition, development, launch, maintenance and user support. Work closely with team members to produce high-quality deliverables.
        </p>
    <p>I am based out in London, UK.</p>
    <div><a class="nav-link btnLook" routerLink="/contact" routerLinkActive="active">CONTACT ME</a>
    </div>
</div>
