@import "helpers/_variables.scss";
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 100% $font-stack !important;
  } 